<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.studentskilldisplaysystem.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.cuit.studentskilldisplaysystem.model.domain.Course">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="courseSkillIndexId" column="course_skill_index_id" jdbcType="VARCHAR"/>
            <result property="courseWeight" column="course_weight" jdbcType="DOUBLE"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_name,course_skill_index_id,
        course_weight,is_delete
    </sql>

    <insert id="insert" parameterType="object">
        insert into course (id,course_name,course_skill_index_id,
                            course_weight,is_delete)
        values (#{id}, #{courseName}, #{courseSkillIndexId}, #{courseWeight}, #{isDelete})
    </insert>

    <select id="select" resultType="com.cuit.studentskilldisplaysystem.model.domain.Course">
        select *
        from course
        where is_delete = 0
    </select>

    <select id="selectById" resultType="com.cuit.studentskilldisplaysystem.model.domain.Course">
        select *
        from course
        where is_delete = 0
          and id = #{id}
    </select>

    <update id="updateById">
        update course
        set course_name   = #{courseName},
            course_skill_index_id     = #{courseSkillIndexId},
            course_weight   = #{courseWeight},
            is_delete = #{isDelete}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="object">
        update course
        set is_delete = 1
        where id = #{id}
    </delete>

</mapper>
