<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.studentskilldisplaysystem.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="com.cuit.studentskilldisplaysystem.model.domain.Score">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="studentId" column="student_id" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="studentScore" column="student_score" jdbcType="DOUBLE"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,course_id,
        student_score,is_delete
    </sql>

    <insert id="insert" parameterType="object">
        insert into comment (id,student_id,course_id,student_score,is_delete)
        values (#{id}, #{studentId}, #{courseId}, #{studentScore},#{isDelete})
    </insert>

    <select id="select" resultType="com.cuit.studentskilldisplaysystem.model.domain.Score">
        select *
        from score
        where is_delete=0
        <if test="studentId != null and studentId!=''">
            and student_id=#{studentId}
        </if>
        <if test="courseId != null and courseId!=''">
            and course_id=#{courseId}
        </if>
    </select>

    <select id="selectById" resultType="com.cuit.studentskilldisplaysystem.model.domain.Score">
        select *
        from score
        where is_delete = 0
          and id = #{id}
    </select>

    <update id="updateById">
        update score
        set student_id  = #{studentId},
            course_id   = #{courseId},
            student_score   = #{studentScore},
            is_delete = #{isDelete}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="object">
        update score
        set is_delete = 1
        where id = #{id}
    </delete>
</mapper>
