<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.studentskilldisplaysystem.mapper.SkillLevelMapper">

    <resultMap id="BaseResultMap" type="com.cuit.studentskilldisplaysystem.model.domain.SkillLevel">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="skillLevel" column="skill_level" jdbcType="VARCHAR"/>
            <result property="end" column="end" jdbcType="INTEGER"/>
            <result property="start" column="start" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,skill_level,end,
        start,is_delete
    </sql>
</mapper>
